<div class="authform">
  <h3><%= t("devise.registrations.new.sign_up") %></h3>

  <div class='sign-up-social'>
    <%= link_to_with_fa_icon 'fa fa-facebook', "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: 'button' %>
    
    <br/>

    <%= link_to_with_fa_icon 'fa fa-linkedin', "Sign up with Linkedin", user_omniauth_authorize_path(:linkedin), class: 'button' %>
  </div>
  
  <hr>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <%= f.input :name, :autofocus => true %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <div class="form-group">
     	<%= f.button :submit, t("devise.registrations.new.sign_up"), :class => 'button right form-control' %>
  	</div>
  <% end %>
</div>