<div class="authform">
  
  <h3><%= t('devise.passwords.change_password') %></h3>

  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    
    <%= f.input :reset_password_token, as: :hidden %>

    <%= f.input :password, autofocus: true, autocomplete: 'off' %>

    <%= f.input :password_confirmation, autocomplete: 'off' %>

    <div class="form-group">
      <%= f.button :submit, t("devise.passwords.change_password"), :class => 'button right form-control' %>
    </div>

  <% end %>
</div>
