<div class="authform">
  <h3><%= t('devise.passwords.forgot_password') %></h3>

  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    
    <p><%= t('devise.passwords.send_instructions') %></p>
    <%= f.input :email, :autofocus => true %>
    
    <div class="form-group">
      <%= f.button :submit, t("devise.passwords.reset_password"), :class => 'button right form-control' %>
    </div>
  <% end %>
</div>
