<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to_with_fa_icon 'fa fa-pencil-square-o', 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to_with_fa_icon 'fa fa-sign-out', 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to_with_fa_icon 'fa fa-sign-in', 'Sign in', new_user_session_path %></li>
  <li><%= link_to_with_fa_icon 'fa fa-chevron-circle-up', 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Users', users_path %></li>
<% end %>
